.account-card{
    height: 290px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border-bottom: 10px solid #1abc9c;
    padding: 20px 25px;

}
.account-card h4 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #3c3838;
    font-family: "Acme";
}
.account-card h5 {
    font-weight: 600;
}
