*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;

}

body{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./assets/banner/banner.png") no-repeat;
  background-size: cover;
 
  
  

}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}